<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signUp</title>
</head>

<body class="signupPage">
    <div class="container">
        <div class="box">
            <p style="color: darkred;font-size: larger;">
                Access best pictures , for free
            </p>
            <form action="/auth/signup" method="post">


                <input type="text" name="name" placeholder="            username">
                <br>

                <br>
                <input type="password" name="password" placeholder="            password">
                <br>
                <br>
                <input type="email" name="email" placeholder="              email">
                <br>
                <br>
                <input type="submit" class="btn btn-danger" value="Create Account">
                <br>
                <br>
            </form>

        </div>

    </div>


</body>

</html>